*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    background: rgb(242,238,238);
    background: linear-gradient(90deg, rgba(242,238,238,1) 0%, rgba(199,195,195,1) 7%, rgba(198,187,187,1) 36%, rgba(235,233,232,1) 100%);

}

h1{
    font-family: 'Tapestry', cursive;
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-color: firebrick;
    color: white;
}

h2{
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
}

h3{
    font-family: 'Life Savers', cursive;
}

p{
    font-family: 'Averia Gruesa Libre', cursive;
    font-size: 25px;
}

#search-container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 10vh;
}

#evolution-container, .evolution{
    padding: 50px;
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 500px;
    max-height: 600px;
    margin: auto;
    text-align: center;
    scroll-padding-top: 20px;
}


