*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 100vh;
    background-color: ghostwhite;
}

h1{
    font-family: 'Tapestry', cursive;
    display: flex;
    justify-content: center;
    font-size: 50px;
    background-color: firebrick;
    color: white;
}

h2{
    font-family: 'Press Start 2P', cursive;
    font-size: 18px;
}

h3{
    font-family: 'Life Savers', cursive;
}

p{
    font-family: 'Averia Gruesa Libre', cursive;
    font-size: 25px;
}

#placer{
    height: 100vh;
}

#container-all{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30vh;
}

.stats{
    text-align: center;
    height: 45vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

